/* CarBuy.css */

/* .car-buy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  @media (max-width: 768px) {
    .left-filter-bar {
        display: none;
    }
}
  .car-buy-container {
    display: flex;
  }
  .left-filter-bar.wide {
    width: 74% !important;
}

.left-filter-bar.narrow {
    width: 20% !important;
}

.left-filter-bar {
    position: sticky;
    top: 100px;
    height: calc(100vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: #f5f5f5;
}
  
  .filter-bar {
    position: sticky;
    top: 100px;
    background-color: #f8f9fa;
    padding: 10px;
    width: 100%;
    z-index: 500;
    display: flex;
    /* justify-content: center; */
    justify-content: flex-end;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .sort-by {
    display: flex;
    align-items: center;
  }
  
  .sort-by label {
    margin-right: 10px;
  }
  
  .sort-by select {
    padding: 5px;
    font-size: 16px;
  }
  
  .car-list-container {
    height: calc(100vh - 200px); /* Adjust 200px based on Header and FilterBar height */
    overflow-y: auto;
}

  .car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
  }
  
  .car-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    /* width: 200px; */
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .car-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .car-card h3 {
    margin: 10px 0;
    font-weight: bolder;
  }
  
  .car-card p {
    margin: 5px 0;
  }
  

  .car-count {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
  /* Location Menu.css */
/* 
  .location-menu {
    display: flex;
    flex-direction: column;
    background-color: #4b0082;
    padding: 20px;
    border-radius: 5px;
  }
  
  .location-menu a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .location-menu a:hover {
    background-color: #6a0dad;
  }
   */